<!--
This is the nav bar for answer.html template
-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=" ">StarC Recruiter</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">LinkedIn</a></li>
      <li><a href="GithubRank">Github</a></li>
      <li><a href="stackRank">StackOverflow</a></li>
      <li><a href="github_priority">Github Priority</a></li>
    </ul>
{#    <ul class="nav navbar-nav navbar-right">#}
{#      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
{#      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>#}
{#    </ul>#}
  </div>
</nav>

